* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}


.inputs{
    margin: 2% 3% 0 3%;
    text-align: center;
}

.input{
    display: inline-block;
    margin-right: 3%;
}

.input label{
    margin-right: 5px;
}

.outputs{
    padding: 0 auto;
    text-align: center;

}

.outputs p{
    display: inline-block;
    padding: 1%;
}

.map{
    width: 75%;
    height: 60%;
    margin: auto;
    border: rgba(145, 195, 211, 0.984) solid 3px;
}

.charts{
    text-align: center;
    margin: auto;
    width: 75%;
}